parameters:
    
    level: 9

    paths:
        - src
        - tests
        
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Cannot call method dispatchAction\(\) on UciGraphQL\\Providers\\UciProvider\|null#'